*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-image: url(bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;;
}
.container{
    width: 500px;
    height: 350px;
    padding: 50px 50px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: inset 5px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}
.container label{
    position: absolute;
    left: 30px;
    padding-right: 30px;
    color: white;
}
.container h3{
    color: white;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    padding: 15px;
    margin: auto;
}
#convert{
    width: 100px;
    height: 50px;
    padding: 8px;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(113, 161, 243);
}
#convert:hover{
    background-color: white;
    color: black;

}
.tempbox{
    padding: 15px;
}
input{
    height: 40px;
    width: 30vh;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    background-color: rgba(0, 0, 0,0.5);
    color: white;
}
input:focus{
    border-color: rgb(255, 123, 0) ;
}
.tempbox input{
position: relative;
left: 180px;
}
